<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>게시글 쓰기</h1>

  <form action="/board/write" method="POST">
    <input type="text" name="title" required placeholder="제목">
    <textarea name="content" required>내용</textarea>
    <input type="submit" value="쓰기">
  </form>
  <a href="/board">뒤로가기</a>

</body>

</html>